
/*BODY has 0 margin and is composed of windows*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    /*background-image: url(../img/logo.png);*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* WINDOW is the main class of in Elytra. Everything on the webpage should be inside a window. A webpage may have multiple windows*/
/* a window is composd of panels. A window can have a single panel too*/

.window{
    display: grid;
    margin: 0;
}

/*NAVBAR Panels*/

.window-navbar-top{
    background-color: green;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    top: 0;
}

.navbar-brand-text{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 800;
}

.navbar-panel{
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 0 20px;
    text-align: center;
    font-weight: 700;
}

.navbar-option-text{
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.navbar-input-text{
    border-radius: 5px;
    width: 100%
}

.navbar-input-icon{
    color: white;
    padding-left: 35px !important;
    padding-right: 5px !important;
    transform: translate(0px,2px);
}

.navbar-burger{
    color: white;
}


/* Curation Window highlights the 4-5 top deals offered by the company*/

.window-curation{
    width: 95%;
    margin: 1vh auto 1vh auto;
    height: 30vh;
    background-color: #8ad67b;
    border-radius: 10px;
}

.buttons-panel-curation{
    position: relative;
    transform: translate(0px,11vh);
    width: 75%;
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

.button-slider-curation{
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.side-button-slider{
    display: grid;
    position: relative;
    transform: translate(0px,12vh);
    width: 100%;
    margin: 0px auto 0px auto;
    grid-template-columns: 1fr 11fr 1fr;
    column-gap: 5px;
    height: 5vh;
}

.slider-button-side{
    color: whitesmoke;
}

.sliding{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.5em;
}

/*HIGHLIGHTS are a more direct description of all the categories of products the company is selling*/

.window-highlight{
    width: 97.5%;
    margin: 1vh 0px 1vh auto;
    height: 30vh;
    background-color: #569649;
    border-radius: 10px 0px 0px 10px;
}

.front-highlight{
  width: 80%;
  height: auto;
  margin-right: 20%;
}

.front-highlight-title{
  color: white;
  font-size: 1.4em;
  margin-left: 10px;
  font-family: Helvetica;
  font-weight: bold;
}

/*PANELS*/

.panel{
    padding: 20px 20px;
    border-radius: 5px;
}

.panel-blog-article{
    background: #ffffffef;
    /*background: #eae0a4f8;*/
    display: grid;
    grid-template-rows: 3fr 6fr 1fr 1fr;
}

.panel-title{
    font-family: 'Roboto', sans-serif !important;
    margin: 0 0 26px 0;
    font-size: 30px;
    font-weight: 600;
    color: #8e2f2f;
}

.panel-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.panel-tags{
    color: #403b17;
}

.panel-tags b{
    color: brown;
}

/*FOOTERS*/

.window-footer{
    width: 100%;
    background: #296d1a;
    display: grid;
    grid-template-rows: 1fr;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
}

.footer-panel{
    width: 90%;
    margin: 10px auto !important;
    padding: 0 10px;
    color: white;
    border-radius: 4px 4px 4px 4px;
    background: #569649ee;
    text-align: left;
    font-weight: 500;
}
